.layout{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.body{
    display:flex;
    flex:1;
    overflow: hidden;
}

.content{
    flex:1;
    padding: 20px;
    background: #f4f6f9;
    overflow-y: auto;
}